{% extends "base.html" %}
{% load i18n %}
{% block title %}
  OLX Accounts
{% endblock title %}
{% block content %}
  <div class="container">
    <h3>{% trans "Your OLX accounts" %}</h3>
    <form method="post" class="mb-2">
        {% csrf_token %}
        <div class="d-flex align-items-center">
            <label for="filter_portal_id" class="me-2 mb-0">{% trans "Portal" %}:</label>
            <select name="filter_portal_id" id="filter_portal_id" class="form-control me-3" style="width:auto;">
                <option value="all" {% if selected_portal_id == "all" %}selected{% endif %}>{% trans "All" %}</option>
                {% for portal in portals %}
                    <option value="{{ portal.id }}" {% if portal.id == selected_portal_id %}selected{% endif %}>{{ portal.domain }}</option>
                {% endfor %}
            </select>            
            
            <button type="submit" class="btn btn-primary btn-sm me-2" name="action" value="apply">{% trans "Apply" %}</button>
        </div>
    </form>
    {% if olx_accounts %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID (Status)</th>
            <th>{% trans "Term" %}</th>
            <th>Line ID</th>
            <th>Bitrix24 line</th>
          </tr>
        </thead>
        <tbody>
          {% for account in olx_accounts %}
            <tr>
              <td>{{ account.olx_id }} ({{ account.status }})</td>
              <td>{{ account.date_end }}</td>
              <td>
                {% if account.line %}
                <span style="color: green;"> <a href="{% url 'portal_detail' account.line.portal.id %}">{{ account.line.portal.domain }}</a> - 
                  <a href="https://{{ account.line.portal.domain }}/contact_center/connector/?ID={{ account.line.connector.code }}&LINE={{ account.line.line_id }}" target="_blank">
                    {{ account.line.name }} ({{ account.line.line_id }})</a>
                </span>
                {% else %}
                  No Line
                {% endif %}
              </td>
              <td>
                <form method="POST" action="{% url 'olx-accounts' %}">
                  {% csrf_token %}
                  <div class="form-group d-flex align-items-center">
                    <select id="line_id" name="line_id" class="form-control mr-2">
                      <option value="" disabled {% if not wa.line %}selected{% endif %}>{% trans "Select line" %}</option>
                      {% for line in olx_lines %}
                      <option value="{{ line.id }}">{{ line.line_id }} ({{ line.name }}) - {{ line.portal.domain }}</option>
                      {% endfor %}
                      {% for instance in instances %}
                      <option value="create__{{ instance.id }}">➕ {% trans "line" %} {{ instance.portal.domain }}</option>
                      {% endfor %}
                    </select>
                    <input type="hidden" name="olx_id" value="{{ account.id }}" />
                    <button type="submit" name="action" value="link" class="btn btn-secondary connect-btn">{% trans "Connect" %}</button>
                  </div>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No OLX accounts connected yet.</p>
    {% endif %}
    <!-- Форма для добавления нового OLX аккаунта -->
    <h3>{% trans "Connect OLX account" %}</h3>
    <form method="POST" action="{% url 'olx-accounts' %}">
      {% csrf_token %}
      <div style="width:30%;" class="form-group d-flex align-items-center">
        <select id="olx_app" name="olx_app" class="form-control mr-2">
          {% for app in olx_apps %}<option value="{{ app.id }}">{{ app.client_domain }}</option>{% endfor %}
        </select>
        <button type="submit" name="action" value="connect" class="btn btn-primary connect-btn">{% trans "Connect" %}</button>
      </div>
    </form>
  </div>
{% endblock content %}
