{% extends "base.html" %}
{% load i18n %}

{% block content %}
<script>
if (window.top !== window.self) {
    window.open("{{ auth_link|safe }}", "_blank");
} else {
    window.location = "{{ auth_link|safe }}";
}
</script>
<p>{% trans "If you were not redirected," %}
    <button type="button" class="btn btn-primary" onclick="window.open('{{ auth_link|safe }}', '_blank')">
        {% trans "Click here" %}
    </button>
</p>
<p><a href="/olx/accounts/">{% trans "Return to application" %}</a></p>
{% endblock %}