[Unit]
Description=separator Celery Worker
After=network.target

[Service]
User=user
WorkingDirectory=/home/user/separator
ExecStart=/home/user/separator/.venv/bin/celery -A config.celery_app worker -l info -Q bitrix,olx,waweb,waba,bitbot
Restart=always

[Install]
WantedBy=multi-user.target
