[Unit]
Description=separator Celery Worker
After=network.target

[Service]
User=root
WorkingDirectory=/opt/separator
ExecStart=/opt/separator/.venv/bin/celery -A config.celery_app worker -l info -Q bitrix,olx,waweb,waba,bot,chat_finish
Restart=always

[Install]
WantedBy=multi-user.target
