DATABASE_URL=postgres://postgres:12345678@127.0.0.1:5432/thoth
CSRF_TRUSTED_ORIGINS=https://example.com
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=465
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_USE_SSL=False
DJANGO_EMAIL_HOST_USER=noreply@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=password