# Пример настройки службы separator
# /etc/systemd/system

[Unit]
Description=separator daemon
Requires=separator.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/separator
Environment="PATH=/opt/separator/.venv/bin"
ExecStart=/opt/separator/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/separator.sock config.wsgi:application

[Install]
WantedBy=multi-user.target
