# Пример настройки службы separator
# /etc/systemd/system

[Unit]
Description=separator daemon
Requires=separator.socket
After=network.target

[Service]
User=user
WorkingDirectory=/home/user/separator
Environment="PATH=/home/user/separator/.venv/bin"
ExecStart=/home/user/separator/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/separator.sock config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
