{{ internal_domains|json_script:"internal-domains" }}
<footer>
    {% if 'wagtail' in INSTALLED_APPS %}
        {% include "includes/footer_laout.html" %}
    {% endif %}
    {% if SHOW_FOOTER_LINKS %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <a target="_blank" href="https://github.com/estvita/separator" title="GitHub Separator">
            <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://gulin.kz">Anton Gulin</a>
    {% endif %}
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const internalDomains = JSON.parse(document.getElementById('internal-domains').textContent);
        document.querySelectorAll('a[href^="http"]').forEach(link => {
          try {
            const url = new URL(link.href);
            if (!internalDomains.includes(url.hostname)) {
              link.setAttribute("target", "_blank");
              link.setAttribute("rel", "nofollow noopener");
            } else {
              link.removeAttribute('target');
            }
          } catch (e) {}
        });
      });
    </script>
</footer>