{% load wagtailcore_tags navigation_tags i18n %}
{% get_site_root as site_root %}
{% with site_root=site_root.localized %}

  {% for menuitem in site_root.get_children.live.in_menu %}
  {% with submenu=menuitem.get_children.live.in_menu %}
  {% if submenu %}
  <li class="nav-item dropdown d-flex align-items-center">
    <a class="nav-link pe-1" href="{% pageurl menuitem %}">
      {{ menuitem.specific.get_menu_title }}
    </a>
    <button class="nav-link dropdown-toggle border-0 bg-transparent ps-1"
            type="button"
            id="navbarDropdown{{ forloop.counter }}"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <span class="visually-hidden">{{ menuitem.specific.get_menu_title }}</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.counter }}">
      {% for child in submenu %}
      <li>
        <a class="dropdown-item" href="{% pageurl child %}">{{ child.specific.get_menu_title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.specific.get_menu_title }}</a>
  </li>
  {% endif %}
  {% endwith %}
  {% endfor %}
{% endwith %}
