{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<ul class="navbar-nav me-auto">
  {% if 'wagtail' in INSTALLED_APPS %}
    {% include "includes/menu_wagtail.html" %}
  {% endif %}
</ul>

<ul class="navbar-nav">
  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
  </li>
  <li class="nav-item">
    {# URL provided by django-allauth/account/urls.py #}
    <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
  </li>
  {% else %}
  <li class="nav-item">
    {# URL provided by django-allauth/account/urls.py #}
    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
  </li>
  {% endif %}
  {% if 'wagtail' in INSTALLED_APPS and page and page.pk %}
    {% include "includes/language_switcher.html" %}
  {% else %}
    <li class="nav-item dropdown ms-2">
      {% with path=request.path %}
        {% if path|slice:":4" == "/en/" %}
          {% with ru_url=path|slice:"3:" en_url=path %}
            <select class="form-select form-select-sm" onchange="if (this.value) { window.location.href = this.value; }">
              {% for lang in languages %}
                {% if lang.code|lower|slice:":2" == "en" %}
                  <option value="{{ en_url }}"{% if lang.code == LANGUAGE_CODE %} selected{% endif %}>{{ lang.name_local }}</option>
                {% else %}
                  <option value="{{ ru_url }}"{% if lang.code == LANGUAGE_CODE %} selected{% endif %}>{{ lang.name_local }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% endwith %}
        {% else %}
          {% with ru_url=path en_url="/en"|add:path %}
            <select class="form-select form-select-sm" onchange="if (this.value) { window.location.href = this.value; }">
              {% for lang in languages %}
                {% if lang.code|lower|slice:":2" == "en" %}
                  <option value="{{ en_url }}"{% if lang.code == LANGUAGE_CODE %} selected{% endif %}>{{ lang.name_local }}</option>
                {% else %}
                  <option value="{{ ru_url }}"{% if lang.code == LANGUAGE_CODE %} selected{% endif %}>{{ lang.name_local }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% endwith %}
        {% endif %}
      {% endwith %}
    </li>
  {% endif %}
</ul>
