{% extends "base.html" %}

{% block title %}
  WAWeb Sessions
{% endblock title %}

{% block content %}
<div class="container">
  <h3>Ваши номера WhatsApp Web</h3>
  {% if sessions %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Номер</th>
          <th>Статус</th>
          <th>Срок действия</th>
          <th>Line ID</th>
          <th>Bitrix24 Line</th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
          <tr>
            <!-- Phone -->
            <td>
              {% if session.show_link %}
                <a href="{% url 'send_message' session_id=session.session %}">
                  {{ session.phone }}
                </a>
              {% else %}
                  {{ session.phone }}
              {% endif %}
            </td>
       
            <!-- Status -->
            <td>
              {% if session.show_link %}
                {{ session.status }}
              {% else %}
                <a class="btn btn-secondary connect-btn" href="{% url 'qr_code_page' session_id=session.session %}">Подключить</a>
              {% endif %}
            </td>
            <!-- Expiry Date -->
            <td>
              {% if session.date_end %}
                {{ session.date_end|date:"Y-m-d H:i:s" }}
              {% else %}
                Not Set
              {% endif %}
            </td>
            <!-- Line ID -->
            <td>
              {% if session.line %}
                <span style="color: green;">{{ session.line.line_id }} - 
                  <a href="https://{{ session.line.portal.domain }}" target="_blank">{{ session.line.portal.domain }}</a>                  
                </span>
              {% else %}
                No line
              {% endif %}
            </td>
            <!-- Bitrix24 -->
            <td>
              <form method="POST" action="{% url 'waweb' %}">
                {% csrf_token %}
                <div class="form-group d-flex align-items-center">
                  <select id="line_id" name="line_id" class="form-control mr-2">
                    <option value="" disabled {% if not wa.line %}selected{% endif %}>Выберите линию</option>
                    {% for line in wa_lines %}
                      <option value="{{ line.id }}">{{ line.line_id }} - {{ line.portal.domain }}</option>
                    {% endfor %}
                    {% for instance in instances %}
                      <option value="create__{{ instance.id }}">➕ линия {{ instance.portal.domain }}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="session_id" value="{{ session.id }}" />
                  <button type="submit" name="action" value="link" class="btn btn-secondary connect-btn">Connect</button>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You don't have any connected sessions.</p>
  {% endif %}

  <!-- Форма для добавления нового номера -->
  <a href="{% url 'connect_number' %}" class="btn btn-primary connect-btn">Добавить номер</a>

  </div>
{% endblock content %}