{% extends "base.html" %}

{% block content %}

<h3>Настройки ИИ бота</h3>

<form method="post">
    {% csrf_token %}

    <!-- Блок API -->
    <fieldset>
        <legend>API</legend>
        {{ api_key_form.provider }}
        <br>
        {{ api_key_form.key }} <a href="https://platform.openai.com/api-keys" target="_blank">Получить ключ</a>
    </fieldset>

    <br>

    <!-- Блок Бот -->
    <fieldset>
        <legend>Бот</legend>
        {{ bot_form.name }}
        <br>
        {{ bot_form.system_message }}
        <br>
        <label>Model</label>
        {{ bot_form.model }}
    </fieldset>
    
    <br>
    <fieldset>
        {% if bot_form.instance.assistant_id %}
        <p><strong>Assistant ID:</strong> {{ bot_form.instance.assistant_id }}</p>
        {% endif %}
        {% if bot_form.instance.vector_store %}
        <p><strong>Vector Store:</strong> 
            <a target="_blank" href="https://platform.openai.com/storage/vector_stores/{{ bot_form.instance.vector_store }}">
                {{ bot_form.instance.vector_store }}
            </a>
        </p>
        {% endif %}
    </fieldset>

    <details>
        <summary style="font-weight: bold; cursor: pointer;">Дополнительные функции</summary>
        <fieldset>
            <label>Распознование аудиосообщений</label>
            {{ bot_form.speech_to_text }}<br><br>
            {{ bot_form.functions }}
        </fieldset>

    </details>

    <details>
        <summary style="font-weight: bold; cursor: pointer;">Дополнительные инструкции</summary>
        <fieldset>
            {{ bot_form.instructions }}
        </fieldset>

    </details> 

    <!-- Блок Экспертные настройки (сворачивающийся блок) -->
    <details>
        <summary style="font-weight: bold; cursor: pointer;">Экспертные настройки</summary>
        <fieldset>
            <!-- <label>Количество дней памяти</label><br>
            {{ bot_form.memory_days }}
            <br>
            <label>Количество сообщений в памяти</label><br>
            {{ bot_form.memory_count }}
            <br> -->
            <label>Temperature</label><br>
            {{ bot_form.temperature }}
            <br>
            <label>Максимальное количество токенов</label><br>
            {{ bot_form.max_completion_tokens }}
            <br>
            <label>top_p</label><br>
            {{ bot_form.top_p }}
            <br>
            <label>Frequency Penalty</label><br>
            {{ bot_form.frequency_penalty }}
            <br>
            <label>Presence Penalty</label><br>
            {{ bot_form.presence_penalty }}
        </fieldset>
    </details>

    <br>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<br>
<a href="{% url 'bot:bot_list' %}" class="button">Вернуться</a>
{% endblock %}
