{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% trans "WhatsApp Cloud number settings" %}
{% endblock title %}
{% block content %}
<div class="container">
  <h3>{% trans "Send Message via" %} {{ phone.phone }}</h3>

  <!-- Форма рассылки -->
  <form style="width: 40%;" method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="send_message">
    <div class="form-group">
      <label for="recipient_phone">{% trans "Recipient Phones (one per line)" %}</label>
      <textarea class="form-control" id="recipient_phone" name="recipient_phone"
                placeholder="{% trans 'Enter recipient phone numbers, one per line' %}" rows="4" required></textarea>
    </div>
    <!-- Template selection field -->
    <div class="form-group">
      <label for="template">{% trans "Template" %} (<a target="_blank" href="https://business.facebook.com/latest/whatsapp_manager/message_templates">{% trans "Add New" %}</a>)</label>
      <select class="form-control" id="template" name="template">
        {% for template in templates %}
          <option value="{{ template.id }}">{{ template }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
  </form>

  <hr>

  <!-- Форма настроек звонков -->
  <h3>{% trans "Calling Settings" %}</h3>
  <form style="width: 40%;" method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="update_calling">

    <div class="form-group">
      <label for="calling">{% trans "Calling" %}</label>
      <select class="form-control" id="calling" name="calling">
        {% for value, label in phone.STATUS_CHOICES %}
          <option value="{{ value }}" {% if phone.calling == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="srtp_key_exchange_protocol">{% trans "SRTP Protocol" %}</label>
      <select class="form-control" id="srtp_key_exchange_protocol" name="srtp_key_exchange_protocol">
        {% for value, label in phone.STRP_PROTOCOL %}
          <option value="{{ value }}" {% if phone.srtp_key_exchange_protocol == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="sip_status">{% trans "SIP Status" %}</label>
      <select class="form-control" id="sip_status" name="sip_status">
        {% for value, label in phone.STATUS_CHOICES %}
          <option value="{{ value }}" {% if phone.sip_status == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="sip_hostname">{% trans "SIP Hostname" %}</label>
      <input type="text" class="form-control" id="sip_hostname" name="sip_hostname"
             value="{{ phone.sip_hostname }}">
    </div>

    <div class="form-group">
      <label for="sip_port">{% trans "SIP Port" %}</label>
      <input type="number" class="form-control" id="sip_port" name="sip_port"
             value="{{ phone.sip_port }}">
    </div>

    <button type="submit" class="btn btn-success">{% trans "Send" %}</button>
  </form>

  {% if phone.error %}
    <div class="alert alert-danger mt-3">
      <strong>{% trans "Last Error:" %}</strong> {{ phone.error }}
    </div>
  {% endif %}
</div>
<a href="{% url 'waba' %}">{% trans "Back" %}</a>
{% endblock content %}
