{% extends "base.html" %}

{% block title %}
  WhatsApp Phones
{% endblock title %}

{% block content %}
<div class="container">
  <h3>Ваши номера WhatsApp (WABA)</h3>
    {% if message %}
    <div class="alert alert-info">
        {{ message.message|safe }}
    </div>
    {% endif %}
  {% if phones %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Phone</th>
          <th>Срок </th>
          <th>Line ID</th>
          <th>Bitrix24 Line</th>
        </tr>
      </thead>
      <tbody>
        {% for phone in phones %}
          <tr>
            <td><a href="{% url 'phone-details' phone.id %}">{{ phone.phone }}</a></td>
            <td>{{ phone.date_end }}</td>
            <td>
              {% if phone.line %}
                <span style="color: green;">{{ phone.line.line_id }} - 
                  <a href="https://{{ phone.line.portal.domain }}" target="_blank">{{ phone.line.portal.domain }}</a>
                </span>
              {% else %}
              No line
              {% endif %}
            </td>
            <td>
              <form method="POST" action="{% url 'waba' %}">
                {% csrf_token %}
                <div class="form-group d-flex align-items-center">
                  <select id="line_id" name="line_id" class="form-control mr-2">
                    <option value="" disabled {% if not phone.line %}selected{% endif %}>Выберите линию</option>
                  
                    {% for line in waba_lines %}
                      <option value="{{ line.id }}">{{ line.line_id }} - {{ line.portal.domain }}</option>
                    {% endfor %}

                    {% for instance in instances %}
                    <option value="create__{{ instance.id }}">➕ линия {{ instance.portal.domain }}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="phone_id" value="{{ phone.id }}" />
                  <button type="submit" name="action" value="link" class="btn btn-secondary">Connect</button>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You don't have any connected numbers.</p>
  {% endif %}

    <a href="/waba/request?request-id={{ request_id }}" class="btn btn-primary">Подключить номер</a>

</div>
{% endblock content %}
