{% load wagtailcore_tags navigation_tags i18n  %}

{% get_site_root as site_root %}
<ul class="navbar-nav me-auto">
  {% for menuitem in site_root.get_children.live.in_menu %}
  {% with submenu=menuitem.get_children.live.in_menu %}
  {% if submenu %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{% pageurl menuitem %}" id="navbarDropdown{{ forloop.counter }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ menuitem.specific.get_menu_title }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.counter }}">
      {% for child in submenu %}
      <li>
        <a class="dropdown-item" href="{% pageurl child %}">{{ child.specific.get_menu_title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.specific.get_menu_title }}</a>
  </li>
  {% endif %}
  {% endwith %}
  {% endfor %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
    </li>
    <li class="nav-item">
      {# URL provided by django-allauth/account/urls.py #}
      <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
    </li>
    {% else %}
    <li class="nav-item">
      {# URL provided by django-allauth/account/urls.py #}
      <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
    </li>
    {% endif %}
  <!-- <li class="nav-item dropdown ms-auto">
    {% include "includes/language_selector.html" %}
  </li> -->
</ul>