{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <!-- SEO Meta Tags -->
    <title>
      {% block title %}
        {% if page %}
          {{ page.seo_title|default:page.title }}
        {% else %}
          separator.biz
        {% endif %}
      {% endblock %}
    </title>
    <meta name="description" content="{% block description %}{{ page.search_description }}{% endblock %}">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" 
      integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" 
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">{{ SITE_NAME }}</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% include "includes/menu.html" %}
            </div>
          </div>
        </nav>
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message|safe }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        <div class="container flex-grow-1">
          {% block main %}
            {% block content %}
              <div class="mt-4">
                <!-- CRM -->
                <div class="row mb-4">
                  <div class="col-12">
                    <h6 class="text-uppercase text-muted border-bottom pb-2">CRM</h6>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl-1">
                    <div class="card h-100 shadow-sm text-center">
                      <div class="card-body p-2">
                        <a href="/portals/" class="text-decoration-none text-dark stretched-link">
                          <img src="{% static 'images/icons/bitrix24.svg' %}" alt="Bitrix24" class="mb-2" style="width: 48px; height: 48px;">
                          <h6 class="card-title text-nowrap mb-0" style="font-size: 0.65rem;">Bitrix24</h6>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Messengers -->
                <div class="row mb-4">
                  <div class="col-12">
                    <h6 class="text-uppercase text-muted border-bottom pb-2">Messengers</h6>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl-1">
                    <div class="card h-100 shadow-sm text-center">
                      <div class="card-body p-2">
                        <a href="/waba/" class="text-decoration-none text-dark stretched-link">
                          <img src="{% static 'images/icons/whatsapp.svg' %}" alt="WhatsApp Cloud" class="mb-2" style="height: 48px;">
                          <h6 class="card-title text-nowrap mb-0" style="font-size: 0.65rem;">WhatsApp Cloud</h6>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl-1">
                    <div class="card h-100 shadow-sm text-center">
                      <div class="card-body p-2">
                        <a href="/waweb/" class="text-decoration-none text-dark stretched-link">
                          <img src="{% static 'images/icons/whatsapp.svg' %}" alt="WhatsApp Web" class="mb-2" style="height: 48px;">
                          <h6 class="card-title text-nowrap mb-0" style="font-size: 0.65rem;">WhatsApp Web</h6>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- PBX -->
                <div class="row mb-4">
                  <div class="col-12">
                    <h6 class="text-uppercase text-muted border-bottom pb-2">PBX</h6>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl-1">
                    <div class="card h-100 shadow-sm text-center">
                      <div class="card-body p-2">
                        <a href="/asterx/" class="text-decoration-none text-dark stretched-link">
                          <img src="{% static 'images/icons/asterisk.svg' %}" alt="AsterX" class="mb-2" style="height: 48px;">
                          <h6 class="card-title text-nowrap mb-0" style="font-size: 0.65rem;">AsterX</h6>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Classifieds -->
                <div class="row mb-4">
                  <div class="col-12">
                    <h6 class="text-uppercase text-muted border-bottom pb-2">Classifieds</h6>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl-1">
                    <div class="card h-100 shadow-sm text-center">
                      <div class="card-body p-2">
                        <a href="/olx/accounts/" class="text-decoration-none text-dark stretched-link">
                          <img src="{% static 'images/icons/olx.svg' %}" alt="OLX" class="mb-2" style="height: 48px;">
                          <h6 class="card-title text-nowrap mb-0" style="font-size: 0.65rem;">OLX</h6>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Bots -->
                <div class="row mb-4">
                  <div class="col-12">
                    <h6 class="text-uppercase text-muted border-bottom pb-2">Bots</h6>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 col-xl-1">
                    <div class="card h-100 shadow-sm text-center">
                      <div class="card-body p-2">
                        <a href="/bitbot/" class="text-decoration-none text-dark stretched-link">
                          <div class="display-4 mb-2" style="font-size: 2.5rem;">🤖</div>
                          <h6 class="card-title text-nowrap mb-0" style="font-size: 0.65rem;">BitBot</h6>
                          <small class="text-muted" style="font-size: 0.6rem;">Dify, Typebot</small>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endblock content %}
          {% endblock main %}
        </div>
      </div>
    {% endblock body %}
    <!-- /container -->
    <div class="footer">
      {% include "includes/footer.html" %}
      <!-- https://github.com/estvita/separator -->
    </div>
  
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
      Script tags with only code, no src (defer by default). To run
      with a "defer" so that you run inline code:
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
